body {
  background-color: #f0eaea;
}

h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}
h3 {
  padding-top: 10px;
}

a {
  color: rgb(57, 52, 36);
}
.my-navbar{
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  height: 80px;
}

.card {
  background-color: #f4f4f4;
  width: 28vw;
  min-height: 600px;
  margin: 10px;
  margin-top: 20px;
  display: flex;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
 
}
.recipeWrapper{
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.layout-wrapper{
  display: flex;
}


.delete-button{
  color: #a3a3a7;
  height: 50px;
  position: absolute;
  bottom: 20px;

}

.list-group-item {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.temp-button{
  margin-left: 200px;
}
