body {
  background-color: #f0eaea;
}


h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}
h3 {
  padding-top: 10px;
}

a {
  color: rgb(57, 52, 36);
}




.card {
  background-color: #f4f4f4;
  width: 30vw;
  min-height: 600px;
  margin: 10px;
 
}
.recipeWrapper{
  display: flex;
  justify-content: center;
}

button {
  color: #a3a3a7;
}
.delete-button{
  align-self: flex-end;

}

.list-group-item {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  text-align: center;
}

