body {
  background-color: #f0eaea;
}

.body {
  display: flex;
}
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}
h3 {
  padding-top: 10px;
}

a {
  color: rgb(57, 52, 36);
}
/*img {
  max-width: 70vw;
  height: 30vw;
  display: flex;
  padding: 0px 20px 20px 20px;
}

.card-title {
  text-align: center;
}
.card-deck {
  margin: 20px;
}
*/

.card {
  background-color: #f4f4f4;
  width: 30vw;
  min-height: 600px;
  margin: 10px;
 
}
.recipeWrapper{
  display: flex;
}

button {
  color: #a3a3a7;
}

.list-group-item {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.nav-link {
  margin: 0px 10px 0px 10px;
}
